<div class="c-lang">
  <button class="th" ng-click="lang('th')" ng-class="{active : isLang('th')}">TH</button>
  |
  <button class="en" ng-click="lang('en')" ng-class="{active : isLang('en')}">EN</button>
</div>
<div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 content">
  <div class="row logo">
    <img src="assets/images/tedx_logo.png" alt="TEDxKMUTT">
  </div>

  <div class="row detail">
   <br>
    <h3>ขณะนี้หมดช่วงการรับสมัครแล้ว</h3>
    <h4>ขอบคุณทุกท่านที่ให้ความสนใจ</h4>
	<br>

  </div>
  <div class="row">
    <div class="buttons">
      <a href="/#/">
		<button class="btn btn-tedx btn-back"></button>
		</a>
    </div>
    <div class="social">
      <a href="https://fb.com/tedxkmutt">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="mail:support@tedxkmutt.com">
        <i class="fa fa-envelope-o"></i>
      </a>
      <div class="copyright">©
        <span ng-controller="date as years">{{year}}</span>
        TEDxKMUTT</div>
    </div>
  </div>
</div>
