<!-- <div class="c-lang">
  <button class="th" ng-click="home.lang('th')" ng-class="{active : home.isLang('th')}">TH</button>
  |
  <button class="en" ng-click="home.lang('en')" ng-class="{active : home.isLang('en')}">EN</button>
</div> -->

<div class="col-xs-12 col-sm-7 col-sm-offset-5 col-md-6 col-md-offset-6 content clear">
  <div class="row logo">
    <img src="assets/images/tedx_logo.png" alt="TEDxKMUTT">
  </div>
  <div class="row">
    <h1>REGISTERING VOLUNTEER</h1>
  </div>
  <div class="row detail">
    {{ content }}
  </div>
  <div class="row">
    <div class="buttons">
      <button class="btn btn-tedx"></button>
    </div>
    <div class="social">
      <a href="https://fb.com/tedxkmutt">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="mail:support@tedxkmutt.com">
        <i class="fa fa-envelope-o"></i>
      </a>
      <div class="copyright">©
        <span ng-controller="date as years">{{year}}</span>
        TEDxKMUTT</div>
    </div>
  </div>
</div>
