/* TEDxKMUTT
   by
   F J T T

  powered by Angular.js
   */

/* Config and Init */
html,body{
  color: white;
  font-size: 14px;
  transition: all .2s;
  background-color: black;
}
.container{
  padding: 0;
}

.row {
  margin: 0;
}

/* Background */
#main {
  background: url(../images/bg.jpg);
  width: 100%;
  height: 100vh;
  background-position: 50% 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Change Language Button */
.c-lang {
  position: absolute;
    right: 1.25em; /* 20/16 */
    top: 20px;
    z-index: 9999;
}

.c-lang button {
  background: none;
  border: 0;
  outline: 0;
}
.c-lang .active {
  background: rgba(255, 43, 6, 0.8);
}

/* Content */
.content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
.content h1 {
  font-size: 38px;
}
.content .side-layer{
  margin-top: -50%;
}
.logo img {
  width: 400px; /* 400/16 */
}
.social a {
  width: 1.25em; /* 20/16 */
  height: 1.625em; /* 26/16 */
  display: inline-block;
  margin-right: 5px;
  color: white;
  font-size: 1.25em; /* 20/16 */
  margin-top: 0.3125em; /* 5/16 */
  transition: all .2s;
}
.social a:hover{
  color: #ccc;
}
.buttons .btn{
  background: #ff2b06;
  color: #fff;
  padding: 0.685em 3.525em;
  margin: 0.3125em 0; /* 5/16 */
  font-size: 1em; /* 16/16 */
  font-weight: 500;
  letter-spacing: 0.125em; /* 2/16 */
  border-radius: 0;
}
.buttons .btn:focus{
  outline: 0;
}
.copyright {
  display: inline-block;
  font-size: 1em;
}

/* Media Query */
@media (max-width: 767px) {
  html,body{
    font-size: 12px;
  }
  .container-fluid {
    height: 100%;
  }
  .content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
  }
  .content .row{
    max-width: 600px;
    margin: 0 auto;
  }

  .content .logo img {
    max-width: 400px;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  html,body{
    font-size: 14px;
  }
  .content{
    width: 55%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .content{
    width: 45%;
  }
}
@media (min-width: 1200px) {
  /* say something */
}
